

.tinDogMainContainer {
    height: 100%;
}

.tinDogPlus {
    height: 40%;
    color: white;
    background: rgb(182,46,88);
background: linear-gradient(0deg, rgba(182,46,88,1) 0%, rgba(251,104,92,1) 100%);
}

.tinDogPlusContainer img {
    width: 150px;
}

.tinDogPlusOptions {
    background-color: #f6f7f9;
}

.selected {
    border: 3px solid rgb(107, 107, 245);
    border-radius: 5px;
    box-shadow: 0 0 10px blue;
}
.mostPopular {
    color: white;
    background-color: rgb(107, 107, 245);
    border-radius: 15px;
    position: absolute;
    left: 49.2%;
    bottom: 51.2%;
    transform: translate(-50%, 50%);
}



.paymentContainer {
    position: absolute;
    background-color: white;
    border-radius: 15px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    width: 350px;
    height: 500px;
}



.darkerMain {
    background-color: rgba(0, 0, 0, 0.5) !important;
    background: rgb(5,0,2);
background: linear-gradient(0deg, rgba(5,0,2,1) 23%, rgba(251,104,92,1) 100%);
    
  }

  .darker {
    background-color: black !important;

    
  }


.paymentContainer img {
    width: 50px;
}

input {
    border-radius: 5px;
    padding: 5px;
    background-color: #e2e6ee;
}

form div {
    width: 90%;
}

#creditcard {
    background-image: url("/assets/creditcard.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}




input.ng-invalid.ng-touched {
    border: red 1px solid;
}


@media (min-width: 800px) {
    .mostPopular {
        left: 49.8%;
        bottom: 51.2%;
    }
  }

  @media (min-width: 900px) {
    .tinDogMainContainer {
       height: 91.5%;
       border-radius: 15px;
    }
    .mostPopular {
        left: 49.4%;
        bottom: 55.2%;
    }
  
  }


  @media (min-height: 600px) and (max-height: 904px) {

    .tinDogPlusContainer img {
        width: 80px;
    }
    .mostPopular {
        left: 49.4%;
        bottom: 53.2%;
    }
  
}

  