h2 {
    color: #f14d71;
}
.messagesCont {
    background-color: #efeef4;
    height: 100%;
   
}

.messageHead {
    transition: 1s ;
}
.messageHead:hover {
    background-color: white;
    cursor: pointer;
}

.messageHead img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.messageHead p {
    color: #8b8a90;
}

@media (min-width: 900px) {
    .messagesCont {
  
   
        border-radius: 15px;
       
    }
  }
