/* You can add global styles to this file, and also import other style files */
* {
    font-family: poppins;
}
html, body {
    height:100%;
    
  }
app-root {
    display: block;
    height: 100%;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;